{
    "presets": [
        [
            "vue-app",
            "es2015"
        ]
    ],
    "plugins": [
        [
            "component",
            [
                {
                    "libraryName": "element-ui",
                    "style": true
                }
            ]
        ]
    ]
}
