<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="Keywords" content="猜球,充值抢百万红包,体育猜球,足球猜球,疯狂猜球，官方猜球">
    <meta name="Description" content="猜球,充值抢百万红包,体育猜球,足球猜球,疯狂猜球，官方猜球">
    <meta name="renderer" content="webkit">
    <!--<meta name="cache-control" content="max-age=0"/>-->
    <title>管理后台</title>

</head>
<body>
<div id="app"></div>

</body>
</html>
