<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商城</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=375px,initial-scale=.5, minimum-scale=.5, maximum-scale=.5, user-scalable=no"/>
    <script type="text/javascript">
        init()
        window.onresize = init
        function init(){
            document.documentElement.style.fontSize =
                document.documentElement.clientWidth / 750 + 'px'
        }
    </script>
</head>
<body>
<div id="app"></div>

</body>
</html>
